header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 3rem;
  height: 80px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__logo {
  font-family: "Martian Mono", monospace;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--clr-base-lt-purple);
}

.header__logo-subtitle {
  color: var(--clr-base-pink);
  font-size: 1rem;
}

.header__nav {
  display: flex;
  gap: 1.4rem;
}

.header__nav a {
  color: var(--clr-base-pink);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.header__nav a:hover {
  color: var(--clr-primary-100);
}

.header__bars {
  display: none;
  color: var(--clr-primary-100);
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* Xl */
@media (max-width: 1280px) {
  .header__logo {
    font-size: 1.1rem;
  }
  .header__nav a {
    font-size: 1rem;
  }
}

/* Lg */
/* @media (max-width: 1024px) {}

/* Md */
@media (max-width: 768px) {
  header {
    padding-inline: 2rem;
  }
  .header__logo-subtitle {
    display: none;
  }
}

/* Sm */
@media (max-width: 640px) {
  .header__nav {
    display: none;
  }
  .header__bars {
    display: inline-block;
  }
}

/* Xs */
@media (max-width: 475px) {
  header {
    padding-inline: 1rem;
  }
}
