.theme-colors {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.theme-colors__text-container {
  min-width: 300px;
}

.theme-colors__title {
  font-size: var(--txt-title-sm);
  font-weight: 600;
  color: var(--clr-pink-100);
}

.theme-colors__description {
  font-size: 1rem;
  color: var(--clr-pink-200);
  line-height: 1.6em;
}

.theme-color__box-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 0.6rem;
  width: 100%;
}

.theme-color__box {
  display: flex;
  align-items: end;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 100px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 90% 0);
}

.theme-color {
  width: 100%;
  height: 100px;
}

.color__name {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--txt-title-xs);
  color: var(--clr-pink-100);
  font-weight: 600;
  margin: 1.2rem 0 0.3rem;
  letter-spacing: 0.04em;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* Xl */
/* @media (max-width: 1280px) {} */

/* Lg */
@media (max-width: 1024px) {
  .theme-colors {
    flex-direction: column;
    gap: 0rem;
  }

  .theme-colors__description {
    max-width: 60ch;
  }
}

/* Md */
@media (max-width: 768px) {
}

/* Sm */
@media (max-width: 640px) {
}

/* Xs */
/* @media (max-width: 475px) {} */

/* 60 - 30 - 10 - Rule */

.color-rule {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.color-rule__text-container {
  min-width: 300px;
}

.color-rule__title {
  font-size: var(--txt-title-sm);
  font-weight: 600;
  color: var(--clr-pink-100);
}

.color-rule__description {
  font-size: 1rem;
  color: var(--clr-pink-200);
  line-height: 1.6em;
}

.color-rule__wrapper {
  width: 100%;
  height: 60px;
  display: flex;
}

.color-rule__color-box {
  display: flex;
  align-items: center;
  justify-content: start;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 1rem;
}

.color-rule__color-60 {
  width: 60%;
  background: var(--clr-base-blue);
  color: var(--clr-pink-100);
}

.color-rule__color-30 {
  width: 30%;
  background: var(--clr-base-lt-purple);
}

.color-rule__color-10 {
  width: 10%;
  background: var(--clr-base-pink);
}
