.container {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
}

img {
  display: block;
  max-width: 100%;
}

.section-divider {
  font-size: var(--txt-title-lg);
  font-weight: 600;
  margin-top: 4rem;
  padding: 2rem 0 0.6rem;
  border-bottom: 1px solid var(--clr-primary-400);
  color: var(--clr-primary-100);
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* Xl */
/* @media (max-width: 1280px) {} */

/* Lg */
@media (max-width: 1024px) {
  .section-divider {
    font-size: var(--txt-title-md);
  }
}

/* Md */
/* @media (max-width: 768px) {} */

/* Sm */
/* @media (max-width: 640px) {} */

/* Xs */
/* @media (max-width: 475px) {} */
